/* HERO */
section#hero {
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

section#hero #overlay {
  background: rgba(0, 0, 0, 0.6);
}

section#hero #hero-text {
  margin-top: 8rem;
}

/* RECOMMENDATIONS */
section#recommendations {
  height: 100vh;
  overflow: scroll;
}

.book-menu-items .book-item {
  width: 25%;
}

.book-menu-items .book-item .book-image {
  height: 150px;
  width: 100px;
}

.card-header-title {
  justify-content: center;
}

/* STORES */
section#stores {
  height: 100vh;
}

section#stores #store-img {
  border: 5px solid black;
}

/* TRACKER */
.progress-wrapper {
  position: relative;
}

.progress-value {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(1rem / 1.5);
  line-height: 1rem;
  font-weight: bold;
}

.progress.is-small + .progress-value {
  font-size: calc(0.75rem / 1.5);
  line-height: 0.75rem;
}

.progress.is-medium + .progress-value {
  font-size: calc(1.25rem / 1.5);
  line-height: 1.25rem;
}

.progress.is-large + .progress-value {
  font-size: calc(1.5rem / 1.5);
  line-height: 1.5rem;
}
