/* HERO */
section#hero {
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

section#hero #overlay {
  background: rgba(0, 0, 0, 0.6);
}

section#hero #hero-text {
  margin-top: 8rem;
}

/* RECOMMENDATIONS */
section#recommendations {
  height: 100vh;
}

.book-menu-items .book-item {
  width: 25%;
}

.book-menu-items .book-item .book-image {
  height: 150px;
  width: 100px;
}

.card-header-title {
  justify-content: center;
}

/* STORES */
section#stores {
  height: 100vh;
}

section#stores #store-img {
  border: 5px solid black;
}
