/* HERO */
section#hero {
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
}

section#hero #overlay {
  background: rgba(0, 0, 0, 0.6);
}

/* RECOMMENDATIONS */
.book-menu-items .book-item {
  width: 25%;
}

.book-menu-items .book-item .book-image {
  height: 150px;
  width: 100px;
}

.card-header-title {
  justify-content: center;
}
